# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fleamarketcal/node_modules
fleamarketcal/.pnp
fleamarketcal/.pnp.js

# testing
fleamarketcal/coverage

# production
fleamarketcal/build

# misc
fleamarketcal/.DS_Store
fleamarketcal/.env.local
fleamarketcal/.env.development.local
fleamarketcal/.env.test.local
fleamarketcal/.env.production.local

fleamarketcal/npm-debug.log*
fleamarketcal/yarn-debug.log*
fleamarketcal/yarn-error.log*
